[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "timechecker"]
	path = timechecker
	url = https://github.com/yt100100/timechecker
